.ftit,
.ffond {
    margin: auto;
width:100%;
}

.ffond > labi2{
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 10px;
}

.fbloc1 div img {
    max-width: 200px!important;max-height: 320px!important;
}

.ffond > .fbloc1 .infos {
    width: 67%; height:60%; overflow-x: auto;padding:0 5px;
}

.ffond > .fbloc1 .cara {
    width: 67%; height:35%; overflow-x: auto;padding:0 5px;
}

.nav-tabs.fiche {
  width: 100%;
  position: relative;
  font-size: 12px;
  margin: 10px 0;
}

.ongletr,
.fonglet {
  display: none;
  margin-bottom: -10px;
  max-height: 550px;
  overflow: auto
}

input:checked+.fonglet {
  display: flex;
  flex-direction: column
}

.fonglet .fbloc1 img {
  width: 100px;
  height: 100px;
}

.nav-tabs.fiche:has(~input[id="proches"]:checked) label[for="proches"],
.nav-tabs.fiche:has(~input[id="liens"]:checked) label[for="liens"],
.nav-tabs.fiche:has(~input[id="plans"]:checked) label[for="plans"],
.nav-tabs.fiche:has(~input[id="idees"]:checked) label[for="idees"],
.nav-tabs.fiche:has(~input[id="timeline"]:checked) label[for="timeline"]{
  background-color: var(--contrast);
  color: var(--white);
}

.rtitle {
  background: var(--white);
  position: sticky;
  top: 0
}

.fbloc1 a {
  color: white
}

.fonglet .fbloc1 {
    height:100px;
}
.fonglet .fbloc1 > .x {
    width: 83%; height: 100px; overflow-x: auto;padding-right:5px
}

.fonglet .fbloc2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 0 10px;
    gap:10px;
}
.fonglet .fbloc2 .r {
    flex:1;
    height: 320px;
}
.fonglet .fbloc2 .r .infos {
    height:320px;
    overflow: auto;
    padding: 0 10px 0 0
}

.nav-tabs.fiche label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-tabs.fiche label img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
}

.likedislike {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

.likedislike t {
    display: flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--contrast);
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
}

.likedislike t img {
    width: 80px;
    height:80px;
    border-radius: 50%;
    outline: 2px solid var(--contrast);
    border: 2px solid var(--white);
    object-fit: cover;
}

.likedislike t img:last-of-type {
    outline: 2px solid var(--textColorAccent);
}

.likedislike l,
.likedislike r {
    display: flex;
    flex-direction: column;
    width:calc(50% - 10px);
    gap:10px;
}

.likedislike x {
    display: flex;
    gap:10px;
    align-items: center;
}

.likedislike x ion-icon {
    width: 40px;
    height:36px;
    background: var(--neutral);
    border: 2px solid var(--neutralLighter);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.likedislike x b {
    height: 40px;
    background: var(--neutral);
    border: 2px solid var(--neutralLighter);
    font-size: 30px;
    flex:1;
    padding: 0 5px;
    font-size: var(--normal-size);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.likedislike l {
    color: var(--contrast);
}

.likedislike r {
    color: var(--textColorAccent);
}

.ffond {
    width: 650px!important;
}

.garderobe .fonglet {
    margin-bottom: -5px;
    max-height: 550px;
    overflow: unset;
}

.garderobe .soc-gallery {
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.garderobe .soc-gallery > div {
    position:relative;
}

.garderobe .soc-gallery > div > img {
    width:117px;
    height:117px;
    object-fit:cover;
    border-radius:5px;
}

.garderobe .soc-gallery span {
    display:none;
    pointer-events: none
}

.garderobe .soc-gallery > div:hover span {
    display:block;
    position:absolute;
    top:0;
    left:calc(100% + 10px);
    width:300px;
    height:500px;
    z-index:100;
}

.garderobe .soc-gallery span img {
    width:300px;
    height:500px;
    object-fit:cover;
    border-radius:5px;
    border:10px solid var(--white);
}
