.postrp {
	display: block;
}

.postrp t,
.postrp md,
.postrp bt {
	display: none;
}

.postrp twlist {
	display: inline;
}

.postrp twlist.hidden {
	display: none;
}

.postrp twlist:before {
	content: "TWs : ";
	font-weight: 800;
}

.postrp rp {
	display: block;
}

.postrp rp d {
	font-weight: bold;
	display: inline;
}
