.signarick {
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.signarick img {
    height:150px;
    object-fit: cover;
    object-position: bottom!important;
    flex:1;
}



.signarick .gif {
background-image:url(https://i.pinimg.com/originals/90/c8/d1/90c8d15840d9e82802e254a171b899f0.gif);
    background-size:cover;
    background-position: 65% 50%;
    position: absolute;
    height:170px;
    width:170px;
    border-radius: 100%;
    border:10px solid var(--neutralLighter);
}

.signarick .quote {
    position: absolute;
    width:100%;
    bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    height: 20px;
    font-size: 17px;
    background:var(--neutralLighter);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signarick .quote qt {
    background: var(--grad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.signarick .quote qt strike {
    text-decoration: line-through wavy 2px;
}

.signarick:after {
    content:"maskaaribou";
    display: block;
    position: absolute;
    bottom: -2px;
    right:5px;
    font-size: 10px;
    font-variant: small-caps;
    text-align: right;
    width: 100%;
    color:var(--neutralLighter);
}

.post.post_row:has(.signarick) .post_profile .rpg, 
.post.post_row:has(.signarick) .post_profile .profil {text-wrap: pretty;text-align: justify;display:flex;flex-direction:column;flex-wrap:nowrap}

.post.post_row:has(.signarick) .post_profile .profil .infos-posteur hr {border-top: 2px solid var(--textColorAccent);margin: 5px 0 -7px !important;}

.post.post_row:has(.signarick) .post_profile .profil .profil_content img {width: 185px;height:100px;object-fit:cover;}

.post.post_row:has(.signarick) .post_profile .profil .profil_content:has(img) + .profil_separator {display: none;}

.post.post_row:has(.signarick) .post_profile .infos-posteur .profil_label .label:before,
.post.post_row:has(.signarick) .post_profile .profil .infos-posteur .profil_content strong:before {content:"⟢ ";font-weight: bold;}

.post.post_row:has(.signarick) .post_profile .profil .infos-posteur:has(a) .profil_label .label:before {content:""}

.post.post_row:has(.signarick) .post_profile .infos-posteur .profil_label .label {display: block;}

.post.post_row:has(.signarick) .post_profile .profil .infos-posteur:not(.infos-posteur:first-of-type),
.post.post_row:has(.signarick) .post_profile .rpg .infos-posteur {margin:0 0 5px}

.post.post_row:has(.signarick) .post_profile .profil .infos-posteur .profil_content strong {
    color: var(--contrast);
    font-family: var(--font2);
    line-height: normal;
    font-size: 12px !important;
    font-weight: 500;
    text-transform: uppercase;
}

.post.post_row:has(.signarick) .post_profile .profil .infos-posteur:has(a) {
    border-top: 2px solid var(--textColorAccent);
    padding: 10px 0 0;
    margin: -10px 0 3px !important;
}

.post.post_row:has(.signarick) .post_profile .profil .infos-posteur:has(u) {
    border-top: 2px solid var(--textColorAccent);
    padding: 10px 0 0;
    margin: -10px 0 -10px !important;
    order:1;
}

.post.post_row:has(.signarick) .post_profile .profil .infos-posteur i {
    display: inline-block;
    margin: 0 0 5px
}

.post.post_row:has(.signarick) .post_profile u {
    text-decoration-color: var(--textColorAccent);
    text-decoration-thickness: 1.5px;
}
