.signamina {
    
}

.post.post_row:has(.signamina) .post_profile .profil .profil_content:has(img) + .profil_separator {display: none;}

.post.post_row:has(.signamina) .post_profile .infos-posteur .profil_label .label:before,
.post.post_row:has(.signamina) .post_profile .profil .infos-posteur .profil_content strong:before {content:"⟢ ";font-weight: bold;}

.post.post_row:has(.signamina) .post_profile .profil .infos-posteur:has(a) .profil_label .label:before {content:""}

.post.post_row:has(.signamina) .post_profile .infos-posteur .profil_label .label {display: block;}

.post.post_row:has(.signamina) .post_profile .profil .infos-posteur:not(.infos-posteur:first-of-type),
.post.post_row:has(.signamina) .post_profile .rpg .infos-posteur {margin:0 0 5px}

.post.post_row:has(.signamina) .post_profile .profil .infos-posteur .profil_content strong {
    color: var(--contrast);
    font-family: var(--font2);
    line-height: normal;
    font-size: 12px !important;
    font-weight: 500;
    text-transform: uppercase;
}

.post.post_row:has(.signamina) .post_profile .profil .infos-posteur:has(a) {
    border-top:2px solid var(--textColorAccent);
    padding: 10px 0 0;
    margin: -10px 0 0!important
}
