@import url("https://kit-pro.fontawesome.com/releases/v7.2.0/css/pro.min.css");
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
.signamad {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	position: relative;
	flex-wrap: wrap;
	margin: 0 0 16px;
	.pic1,
	.pic2 {
		height: 200px;
		background-size: cover;
		background-position: left center;
		flex: 1;
		border-radius: 10px;
		outline: 5px solid var(--neutralLighter);
		outline-offset: -10px
	}
	.pic2 {
		background-position: right center;
	}
	.gif {
		position: absolute;
		height: 165px;
		width: 160px;
		border-radius: 12px;
		border: 10px solid var(--neutralLighter);
		transform: rotate(45deg);
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.gif:after {
		content: "";
		background-size: cover;
		background-position: center;
		height: 200px;
		width: 200px;
		transform: rotate(-45deg);
		flex-shrink: 0;
	}
	.quote {
		width: max-content;
		position: absolute;
		bottom: -25px;
		text-transform: uppercase;
		font-weight: bold;
		height: 20px;
		font-size: 17px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "Special Elite";
		background: var(--grad);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: transparent;
	}
	&:after {
		content: "maskaaribou";
		display: block;
		font-size: 10px;
		font-variant: small-caps;
		text-align: center;
		width: 100%;
		color: var(--textColor);
		opacity: 0.25;
		position: absolute;
		bottom: -31px;
	}
	&.felix {
		.pic1 {
			background-image: url(https://2img.net/i.imgur.com/LxqpDLw.png)
		}
		.pic2 {
			background-image: url(https://2img.net/i.imgur.com/a79vMix.png)
		}
		.gif:after {
			background-image: url(https://i.imgur.com/QRVdBby.gif);
			background-position: bottom right;
		}
		.quote:after {
			content: "they may not wear a cape, but my dogs rescue me everyday";
		}
	}
	&.rick {
		.pic1 {
			background-image: url(https://i.imgur.com/r5Xr2iS.png)
		}
		.pic2 {
			background-image: url(https://i.imgur.com/0eF2GYO.png)
		}
		.gif:after {
			background-image: url(https://i.pinimg.com/originals/90/c8/d1/90c8d15840d9e82802e254a171b899f0.gif);
			background-position: 65% 50%;
		}
	}
	&.connor {
		.pic1 {
			background-image: url(https://i.pinimg.com/1200x/ea/76/16/ea76164d894a6aa8b1f7aba3c71e75d5.jpg)
		}
		.pic2 {
			background-image: url(https://i.pinimg.com/1200x/d4/64/82/d46482272c2a88ff49192f5602b90acb.jpg)
		}
		.gif:after {
			background-image: url(https://i.imgur.com/EvyKarI.gif)
		}
		.quote:after {
			content: "You can't save everyone. But I have to try.";
		}
	}
	&.jacob {
		.pic1 {
			background-image: url(https://i.pinimg.com/736x/39/57/d6/3957d640c6e891df2dc6e333a2cd30db.jpg);
			background-position: 0 30%
		}
		.pic2 {
			background-image: url(https://i.pinimg.com/736x/4e/1f/60/4e1f60b563e37b076ad5cd161b7884d8.jpg);
			background-position: 0 60%
		}
		.gif:after {
			background-image: url(https://i.imgur.com/YOwERwz.gif);
			filter: brightness(1.7) contrast(1.3);
		}
		.quote:after {
			content: "The uniform can come off. Being their father never does.";
		}
	}
}
