.post.post_row:has(.signamad),
#preview:has(.signamad),
.post.post_row:has(.signamina),
#preview:has(.signamina) {
	&:has(#garderobe) .signature_div {
		display: none;
	}
	
	#garderobe {
		.ftit,
		.ffond {
			margin: auto;
			width: 100%;
		}
		.nav-tabs.fiche {
			width: 100%;
			position: relative;
			font-size: 12px;
			margin: 10px 0;
		}
		.ffond:has(input[id=everyday]:checked) label[for=everyday],
		.ffond:has(input[id=formal]:checked) label[for=formal],
		.ffond:has(input[id=other]:checked) label[for=other],
		label:hover {
			background-color: var(--textColor);
			color: var(--white);
		}
		.ongletr,
		.fonglet {
			display: none;
			margin-bottom: -5px;
			max-height: unset;
			overflow: unset;
		}
		input:checked+.fonglet {
			display: flex;
			flex-direction: column;
		}
		.soc-gallery {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			justify-content: center;
			padding: 0 0 5px;
		}
		.soc-gallery>div {
			position: relative;
		}
		.soc-gallery>div>img {
			width: 149px !important;
			height: 149px !important;
			object-fit: cover;
			border-radius: 5px;
		}
		.soc-gallery span {
			display: none;
			pointer-events: none;
		}
		.soc-gallery span img {
			max-width: 300px !important;
			max-height: 500px !important;
			height: auto !important;
			width: auto !important;
			object-fit: cover;
			border-radius: 5px;
			border: 10px solid var(--white);
		}
		.soc-gallery>div:hover span {
			display: block;
			position: absolute;
			top: 0;
			left: calc(100% + 10px);
			width: 300px;
			height: 500px;
			z-index: 100;
		}
		b {
			display: block;
			text-align: center;
		}
	}
}
